body { /* Vai aplicar esses estilos a tudo que estiver dentro do body */
    background-color: rgba(179, 130, 186, 36%); /*Uma das formas de selecionar cor, essa pode escolher a opacidade */
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: row;
}
.titulo-pagina {
    text-align: center;
    color: purple;
}

.conteudo {
    width: 70.3125%;
    margin: 0 auto; 
}

.subtitulo {
    text-align: center;
}

.chamada,
.ilustracao {
    width: 44.444444444444%;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}


.ilustracao > img { /* seleciona as tags img dentro da classe .conteudo-principal__imagem */
    width: 100%;
}

.call-to-action {
    margin-top: 40px;
}

.btn {
    padding: 20px;
    text-decoration: none; 
    text-transform: uppercase; /*Deixa todas as letras maiúsculas sem prejudicar a acessibilidade */
    border: 1px solid #5d1277; 
}

.btn--saiba-mais {
    background-color: #5d1277;
    color: white;
}

.btn--participe {
    color: #5d1277; /* Outra forma muito comum de escolher a cor, pelo código HEX */
}


@media(max-width:768px){
    .btn{
       margin: 2vw;
       
    }
    .call-to-action{
        display:flex;
    }

    .chamada, .ilustracao{
            width: 100%;
            display: block;
            margin: 2vw;
    }

}